.nanum-myeongjo-regular {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-style: normal;
}

.head-line {
  margin: 0;
  display: flex;
  justify-content: center;
}

.head-line svg {
  width: 430px;
}

.header {
  position: fixed;
  top: 0;
  left: 40px;
  right: 40px;
  z-index: 100;
  background-color: white;
}

body {
  padding-top: 160px;
}

.top-menu {
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
}

.top-menu i {
  margin-right: 0.3rem;
  padding: 0.5rem;
}

.top-menu i:hover {
  background-color: #eef1f8;
}

#search-button {
  padding: 0.3rem 0.5rem;
  font-size: 0.9rem;
  background-color: #eef1f8;
  border-radius: 5px;
  border: 1px solid #dedede;
}

#search-button:hover {
  background-color: #dedede;
}

.menu-list {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #ebebeb;
  border-bottom: 4px double black;
}

.menu-list button {
  border: none;
  background: none;
  margin: 5px;
  font-size: 17px;
}

.menu-list button:hover {
  background-color: beige;
}

.news-image-size {
  max-width: 100%;
  max-height: 250px;
}

.news {
  border-bottom: 2px solid black;
}

.side-menus {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: beige;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-menus button {
  border: none;
  background: none;
  margin: 5px;
  font-size: 15pt;
  font-weight: bold;
}

.side-menus button:hover {
  border-bottom: 3px solid grey;
}

.side-menus .closebtn {
  position: absolute;
  top: 7px;
  right: 20px;
}

.side-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.hide {
  display: none;
}

#input-area {
  display: none;
}

.news-board {
  border-bottom: 5px solid black;
}

.left {
  display: flex;
  justify-content: center;
  padding: 0.7em;
}

.right {
  font-family: "Nanum Myeongjo";
  padding: 1em;
}

.title {
  font-weight: bold;
  font-size: 17pt;
  color: black;
}

.title:hover {
  color: blue;
}

.page-item {
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin-top: 1em;
}

.pagination .page-item .page-link {
  color: #000;
  background-color: #fff;
  border-color: #e0dfdf;
}

.pagination .page-item.active .page-link {
  color: black;
  background-color: beige;
  border-color: #e0dfdf;
}

.pagination .page-item.disabled .page-link {
  pointer-events: none;
}

@media (max-width: 600px) {
  body {
    padding-top: 110px;
  }

  .header {
    width: 100%;
    left: 0;
    right: 0;
  }
  .head-line {
    padding-bottom: 1em;
  }

  .head-line svg {
    width: 300px;
  }
  .side-menus button {
    font-size: 10pt;
  }
  .side-menus {
    padding-top: 15px;
  }
  .hide {
    display: inline !important;
  }
  .menu-list {
    display: none;
  }
}
